doctype html
html(lang='en')
  head
    meta(charse='utf8')
    title California Growler Guide
    != css('app')
    script(src='/js/vendor/jquery.min.js')
    script(src='js/lib/tabletop1.3.3.js')
    script(src='js/lib/transparency.min.js')

  body
    h1 California Growler Fill Guide

    section(role="main")
      #fullTableFilter
        input(type="text", class="search", placeholder="filter by…")

      div#bucket
        h3 Loading&hellip;

      != js('vendors/lodash')
      != js('vendors/backbone-min')
      script(src='/js/vendor/react-with-addons.js')
      script(src='/js/vendor/postal.min.js')
      //- script(src='/js/vendor/react.min.js')
      script(src='/js/vendor/JSXTransformer.js')
      != js('models/Brewery')
      != js('collections/Breweries')
      script(src='/js/views/list.filter.js')
      script(src='/js/views/brewery.view.jsx', type='text/jsx')
      script(src='js/init.js')

  footer
    p
      | Data gathered by&nbsp;
      a(href="https://twitter.com/SageOlson") Sage Olson
      | . Site by&nbsp;
      a(href="https://twitter.com/adamyanalunas") Adam Yanalunas
      | .
    p Crafted in #{pageData.year}
